@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using BrowserGameEngine.FrontendServer
@using BrowserGameEngine.StatefulGameServer
@model AuthenticationScheme[]
@inject IOptions<BgeOptions> options
@inject PlayerRepository playerRepository

@if (options.Value.DevAuth) {
    var players = playerRepository.GetAll().Select(p => p.PlayerId.Id).OrderBy(x => x).ToList();
    <div class="jumbotron">
        <h3>Dev Login</h3>
        @if (players.Any()) {
            <p class="text-muted">Click to log in as an existing player:</p>
            @foreach (var playerId in players) {
                <form action="/signindev" method="post" style="display:inline">
                    <input type="hidden" name="PlayerId" value="@playerId" />
                    <button class="btn btn-outline-primary m-1" type="submit">@playerId</button>
                </form>
            }
            <hr />
        }
        <p class="text-muted">Or create and log in as a new player:</p>
        <form action="/signindev" method="post" class="form-inline">
            <input type="text" name="PlayerId" class="form-control mr-2" placeholder="New player ID" />
            <button class="btn btn-success" type="submit">Create &amp; Login</button>
        </form>
    </div>
}

<div class="jumbotron">
    <h1>Authentication</h1>
    <p class="lead text-left">Sign in using one of these external providers:</p>

    @foreach (var scheme in Model.OrderBy(p => p.DisplayName)) {
        <form action="/signin" method="post">
            <input type="hidden" name="Provider" value="@scheme.Name" />
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

            <button class="btn btn-lg btn-success m-1" type="submit">Connect using @scheme.DisplayName</button>
        </form>
    }
</div>

<div class="jumbotron">
    @if (User?.Identity?.IsAuthenticated ?? false) {
        <h1>Welcome, @User.Identity.Name</h1>

        <p>
            @foreach (var claim in Context.User.Claims) {
                <div><code>@claim.Type</code>: <strong>@claim.Value</strong></div>
            }
        </p>

        <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
    } else {
        <h1>Welcome, anonymous</h1>
        <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Sign in</a>
    }
</div>
