@page "/unitdefinitions"
@using BrowserGameEngine.Shared
@inject HttpClient Http

<h1>Einheiten Definitionen</h1>

@if (model == null) {
    <p><em>Loading...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Angriff</th>
                <th>Verteidigung</th>
                <th>Kosten</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var unitDef in model) {
            <tr>
                <td>@unitDef.Id</td>
                <td>@unitDef.Name</td>
                <td>@unitDef.Attack</td>
                <td>@unitDef.Defense</td>
                <td>@unitDef.Cost</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private UnitDefinitionViewModel[]? model;

    protected override async Task OnInitializedAsync() {
        model = await Http.GetFromJsonAsync<UnitDefinitionViewModel[]>("api/unitdefinitions");
    }

}
